# Librerías

In [22]:
import numpy as np
import pandas as pd
import pickle
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import OrdinalEncoder

## Este Jupyter Notebook es para obtener dataframes necesarios para el último paso, y así, el último Jupyter es más limpio.

In [23]:
df = pd.read_csv('Datasets/data_for_ml.csv')


mapping= {0:0, 1:0, 2:1, 3:1, 4:2, 5:2}
df['int_cat_enc_fixed'] = df['intelligence_category_enc'].map(mapping)

df.sample()

,Dog breed,lifetime_cost,intellingence_ranking,longevity,weight_kg,shoulder_height_cm,obey_first_command_%_of_time,Renta media/pers (€),Áreas caninas (m²),n_genetic_diseases,tricks_yes,size_category_enc,intelligence_category_enc,house_type_enc,owners_physical_activity_enc,int_cat_enc_fixed
1784,Rhodesian Ridgeback,16621.390823,34.129882,9.316266,35.337233,72.783181,50,13605.0,1140.0,0,1.0,2.0,2.0,2.0,3.0,1

# Scaler necesario:

In [24]:
df_scaler = df[['size_category_enc', 'longevity','int_cat_enc_fixed']]
scaler = MinMaxScaler()

df_scaler[['size_enc', 'lon_enc', 'int_enc']] = scaler.fit_transform(df_scaler[['size_category_enc', 'longevity','int_cat_enc_fixed']])
df_scaler

/var/folders/wr/llsqfgn14y9g_c3l32fq8qxw0000gn/T/ipykernel_21558/1040639563.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_scaler[['size_enc', 'lon_enc', 'int_enc']] = scaler.fit_transform(df_scaler[['size_category_enc', 'longevity','int_cat_enc_fixed']])
/var/folders/wr/llsqfgn14y9g_c3l32fq8qxw0000gn/T/ipykernel_21558/1040639563.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_scaler[['size_enc', 'lon_enc', 'int_enc']] = scaler.fit_transform(df_scaler[['size_category_enc', 'longevity','int_cat_enc_fixed']])
/var/folders/wr/llsqfgn14y9g_c3l32fq8qxw0000gn/T/ipykernel_21558/1040639563.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_scaler[['size_enc', 'lon_enc', 'int_enc']] = scaler.fit_transform(df_scaler[['size_category_enc', 'longevity','int_cat_enc_fixed']])

,size_category_enc,longevity,int_cat_enc_fixed,size_enc,lon_enc,int_enc
0,1.0,12.647220,2,0.5,0.557345,1.0
1,1.0,13.538873,2,0.5,0.632368,1.0
2,1.0,12.461698,2,0.5,0.541735,1.0
3,0.0,13.045006,2,0.0,0.590815,1.0
4,0.0,13.201629,2,0.0,0.603993,1.0
...,...,...,...,...,...,...
2145,2.0,7.617800,0,1.0,0.134172,0.0
2146,2.0,8.080945,0,1.0,0.173140,0.0
2147,2.0,7.363878,0,1.0,0.112807,0.0
2148,2.0,7.839965,0,1.0,0.152864,0.0
2149,2.0,8.176060,0,1.0,0.181143,0.0

In [25]:
df_scaler['size_enc'].max(), df_scaler['size_enc'].min(), df_scaler['lon_enc'].max(), df_scaler['lon_enc'].min(), df_scaler['int_enc'].max(), df_scaler['int_enc'].min()

(1.0, 0.0, 1.0, 0.0, 1.0, 0.0)

In [26]:
pickle.dump(scaler, open('Models/scaler_final.pkl', 'wb'))

# Dataframe de razas de perros, hacer y pasar a .csv para fácil acceso

In [27]:
df_og = pd.read_csv('Datasets/perretes_final.csv')
razas = list(df_og['Dog breed'].unique())
len(razas)

43

In [28]:
df_bestinshow = pd.read_csv('Datasets/De-bajo-uso/best_in_show.csv')
df_filtered_bestinshow = df_bestinshow[df_bestinshow[['Dog breed']].isin(razas).all(axis=1)]
print(len(df_filtered_bestinshow))
df_filtered_bestinshow.sample()

43

,Dog breed,Unnamed: 1,category,Unnamed: 3,datadog score,POPULARITY IN US,POPULARITY IN US.1,"LIFETIME COST, $",5 LIFETIME COST,Unnamed: 9,...,Unnamed: 59,"Other regular costs, total per lifetime, $","total per year, $","total, per year, £","toys, presents, treats, per year, £","pet sitters, per year, £","grooming, per year, £","vet fees per year, £","kennels per year, £","one offs, $"
27,Labrador Retriever,NaN,sporting,NaN,2.97,1,1,"$21,299",30%,NaN,...,NaN,"12,593","1,046",784.0,121,126.0,244.0,177.0,116.0,200

In [29]:
df_razas = df_filtered_bestinshow[['Dog breed', 'size category','2 LONGEVITY', 'intelligence category']]
df_razas.head(3)

                Dog breed size category 2 LONGEVITY intelligence category
3                Brittany        medium       12.92             Excellent
4           Cairn Terrier         small       13.84         Above average
6  English Cocker Spaniel        medium       11.66             Excellent

Ligero encoding...

In [30]:
cat_size = ['small', 'medium', 'large']
cat_int = ['Lowest', 'Fair', 'Average', 'Above average', 'Excellent', 'Brightest']

enc2 = OrdinalEncoder(categories=[cat_size, cat_int])

data_encoded = enc2.fit_transform(df_razas[['size category','intelligence category']])
df_razas[['size_category_enc','int_cat']] = data_encoded

mapping= {0:0, 1:0, 2:1, 3:1, 4:2, 5:2}
df_razas['int_cat_enc_fixed'] = df_razas['int_cat'].map(mapping)

df_razas = df_razas.rename(columns={'2 LONGEVITY' : 'longevity'})

orden_var = ['Dog breed', 'size_category_enc', 'longevity', 'int_cat_enc_fixed']
df_razas = df_razas[orden_var]

df_razas.sample()

/var/folders/wr/llsqfgn14y9g_c3l32fq8qxw0000gn/T/ipykernel_21558/3362739184.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_razas[['size_category_enc','int_cat']] = data_encoded
/var/folders/wr/llsqfgn14y9g_c3l32fq8qxw0000gn/T/ipykernel_21558/3362739184.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_razas[['size_category_enc','int_cat']] = data_encoded
/var/folders/wr/llsqfgn14y9g_c3l32fq8qxw0000gn/T/ipykernel_21558/3362739184.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_razas['int_cat_enc_fixed'] = df_razas['int_cat'].map(mapping)

   Dog breed  size_category_enc longevity  int_cat_enc_fixed
75    Borzoi                2.0      9.08                  0

Voy a dejarlo ya con las variables escaladas:

In [31]:
df_razas[['size_cat_enc', 'lon_enc', 'int_cat_enc']] = scaler.transform(df_razas[['size_category_enc', 'longevity', 'int_cat_enc_fixed']])
df_razas.head(3)

,Dog breed,size_category_enc,longevity,int_cat_enc_fixed,size_cat_enc,lon_enc,int_cat_enc
3,Brittany,1.0,12.92,2,0.5,0.580297,1.0
4,Cairn Terrier,0.0,13.84,1,0.0,0.657705,0.5
6,English Cocker Spaniel,1.0,11.66,2,0.5,0.474281,1.0

In [32]:
df_razas.to_csv('datasets/razas-perretes.csv', index=False)

# .csv Razas de perros con todas las variables para Power BI

In [33]:
df_filtered_bestinshow.sample()

,Dog breed,Unnamed: 1,category,Unnamed: 3,datadog score,POPULARITY IN US,POPULARITY IN US.1,"LIFETIME COST, $",5 LIFETIME COST,Unnamed: 9,...,Unnamed: 59,"Other regular costs, total per lifetime, $","total per year, $","total, per year, £","toys, presents, treats, per year, £","pet sitters, per year, £","grooming, per year, £","vet fees per year, £","kennels per year, £","one offs, $"
28,Maltese,NaN,toy,NaN,2.93,23,23,"$19,084",62%,NaN,...,NaN,"12,813","1,046",784.0,121,126.0,244.0,177.0,116.0,200

In [34]:
df_perros_razas = df_filtered_bestinshow[['Dog breed', 'shoulder height (cm)', 'weight (kg)', 'INTELLIGENCE (TRAINABILITY) ranking', '4 LIFETIME COST, $', '2 LONGEVITY', '3 NO. OF GENETIC AILMENTS']]
df_perros_razas

,Dog breed,shoulder height (cm),weight (kg),INTELLIGENCE (TRAINABILITY) ranking,"4 LIFETIME COST, $",2 LONGEVITY,3 NO. OF GENETIC AILMENTS
3,Brittany,48,16,80%,"19,503",12.92,0
4,Cairn Terrier,25,6,61%,"18,965",13.84,2
6,English Cocker Spaniel,41,14,82%,"16,442",11.66,0
7,Cocker Spaniel,37,11,79%,"19,888",12.50,2
10,Shetland Sheepdog,37,10.15,94%,"17,469",12.53,5
11,Siberian Husky,55,22,45%,"19,043",12.58,0
12,Lhasa Apso,27,7,15%,"18,985",13.92,1
15,Miniature Schnauzer,33,7,87%,"16,753",11.81,2
16,Chihuahua,13,2,16%,"22,640",16.50,1
19,English Springer Spaniel,50,20,86%,"18,950",12.54,4
24,German Shorthaired Pointer,61,28,84%,"20,849",11.46,1
25,Pointer,65,27,49%,"21,049",12.42,1
26,Tibetan Spaniel,25,5,43%,"22,104",14.42,0
27,Labrador Retriever,58,31,93%,"18,422",12.04,3
28,Maltese,23,2,25%,"16,073",12.25,1
30,Shih Tzu,25,6,13%,"18,264",13.20,1
33,Irish Setter,66,29,61%,"17,544",11.63,2
36,Golden Retriever,58,27,97%,"18,571",12.04,4
39,Chesapeake Bay Retriever,60,31,75%,"14,432",9.48,1
40,Tibetan Terrier,39,11,22%,"17,643",12.31,0
41,Gordon Setter,64,28,64%,"16,953",11.10,1
43,Pug,41,7,29%,"15,421",11.00,1
45,Norfolk Terrier,24,5,30%,"21,185",13.07,0
49,English Toy Spaniel,25,5,45%,"14,670",10.10,0
51,Cavalier King Charles Spaniel,32,7,48%,"16,169",11.29,2
54,Basenji,42,10,2%,"19,125",13.58,3
56,Staffordshire Bull Terrier,38,14,37%,"18,772",12.05,1
58,Pembroke Welsh Corgi,28,12,89%,"19,625",12.25,9
59,Clumber Spaniel,47,32,56%,"15,695",10.00,0
60,Dandie Dinmont Terrier,23,10,22%,"18,725",12.17,0
62,Giant Schnauzer,65,35,74%,"21,307",10.00,1
64,Scottish Terrier,25,9,18%,"15,187",10.69,1
66,Kerry Blue Terrier,47,17,61%,"14,994",9.40,1
67,Afghan Hound,66,25,1%,"20,818",11.92,0
68,Newfoundland,69,57,64%,"16,802",9.32,2
73,Rhodesian Ridgeback,65,35,33%,"14,355",9.10,2
75,Borzoi,71,37,6%,"14,007",9.08,0
77,Bull Terrier,55,27,17%,"16,051",10.21,2
79,Alaskan Malamute,61,36,36%,"19,069",10.67,2
81,Bloodhound,64,39,7%,"11,979",6.75,2
83,Bullmastiff,65,52,14%,"12,128",7.57,2
84,Mastiff,76,79,10%,"11,224",6.50,2
86,Saint Bernard,67,70,18%,"17,336",7.78,3

In [35]:
df_perros_razas.isnull().sum()

Dog breed                              0
shoulder height (cm)                   0
weight (kg)                            0
INTELLIGENCE (TRAINABILITY) ranking    0
4 LIFETIME COST, $                     0
2 LONGEVITY                            0
3 NO. OF GENETIC AILMENTS              0
dtype: int64

In [36]:
df_perros_razas.dtypes

Dog breed                              object
shoulder height (cm)                   object
weight (kg)                            object
INTELLIGENCE (TRAINABILITY) ranking    object
4 LIFETIME COST, $                     object
2 LONGEVITY                            object
3 NO. OF GENETIC AILMENTS              object
dtype: object

In [37]:
df_perros_razas['INTELLIGENCE (TRAINABILITY) ranking']=df_perros_razas['INTELLIGENCE (TRAINABILITY) ranking'].str.replace('%','')
df_perros_razas['4 LIFETIME COST, $']=df_perros_razas['4 LIFETIME COST, $'].str.replace(',','')
df_perros_razas

/var/folders/wr/llsqfgn14y9g_c3l32fq8qxw0000gn/T/ipykernel_21558/1009688005.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_perros_razas['INTELLIGENCE (TRAINABILITY) ranking']=df_perros_razas['INTELLIGENCE (TRAINABILITY) ranking'].str.replace('%','')
/var/folders/wr/llsqfgn14y9g_c3l32fq8qxw0000gn/T/ipykernel_21558/1009688005.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_perros_razas['4 LIFETIME COST, $']=df_perros_razas['4 LIFETIME COST, $'].str.replace(',','')

,Dog breed,shoulder height (cm),weight (kg),INTELLIGENCE (TRAINABILITY) ranking,"4 LIFETIME COST, $",2 LONGEVITY,3 NO. OF GENETIC AILMENTS
3,Brittany,48,16,80,19503,12.92,0
4,Cairn Terrier,25,6,61,18965,13.84,2
6,English Cocker Spaniel,41,14,82,16442,11.66,0
7,Cocker Spaniel,37,11,79,19888,12.50,2
10,Shetland Sheepdog,37,10.15,94,17469,12.53,5
11,Siberian Husky,55,22,45,19043,12.58,0
12,Lhasa Apso,27,7,15,18985,13.92,1
15,Miniature Schnauzer,33,7,87,16753,11.81,2
16,Chihuahua,13,2,16,22640,16.50,1
19,English Springer Spaniel,50,20,86,18950,12.54,4
24,German Shorthaired Pointer,61,28,84,20849,11.46,1
25,Pointer,65,27,49,21049,12.42,1
26,Tibetan Spaniel,25,5,43,22104,14.42,0
27,Labrador Retriever,58,31,93,18422,12.04,3
28,Maltese,23,2,25,16073,12.25,1
30,Shih Tzu,25,6,13,18264,13.20,1
33,Irish Setter,66,29,61,17544,11.63,2
36,Golden Retriever,58,27,97,18571,12.04,4
39,Chesapeake Bay Retriever,60,31,75,14432,9.48,1
40,Tibetan Terrier,39,11,22,17643,12.31,0
41,Gordon Setter,64,28,64,16953,11.10,1
43,Pug,41,7,29,15421,11.00,1
45,Norfolk Terrier,24,5,30,21185,13.07,0
49,English Toy Spaniel,25,5,45,14670,10.10,0
51,Cavalier King Charles Spaniel,32,7,48,16169,11.29,2
54,Basenji,42,10,2,19125,13.58,3
56,Staffordshire Bull Terrier,38,14,37,18772,12.05,1
58,Pembroke Welsh Corgi,28,12,89,19625,12.25,9
59,Clumber Spaniel,47,32,56,15695,10.00,0
60,Dandie Dinmont Terrier,23,10,22,18725,12.17,0
62,Giant Schnauzer,65,35,74,21307,10.00,1
64,Scottish Terrier,25,9,18,15187,10.69,1
66,Kerry Blue Terrier,47,17,61,14994,9.40,1
67,Afghan Hound,66,25,1,20818,11.92,0
68,Newfoundland,69,57,64,16802,9.32,2
73,Rhodesian Ridgeback,65,35,33,14355,9.10,2
75,Borzoi,71,37,6,14007,9.08,0
77,Bull Terrier,55,27,17,16051,10.21,2
79,Alaskan Malamute,61,36,36,19069,10.67,2
81,Bloodhound,64,39,7,11979,6.75,2
83,Bullmastiff,65,52,14,12128,7.57,2
84,Mastiff,76,79,10,11224,6.50,2
86,Saint Bernard,67,70,18,17336,7.78,3

In [38]:
df_perros_razas.columns

Index(['Dog breed', 'shoulder height (cm)', 'weight (kg)',
       'INTELLIGENCE (TRAINABILITY) ranking', '4 LIFETIME COST, $',
       '2 LONGEVITY', '3 NO. OF GENETIC AILMENTS'],
      dtype='object')

In [39]:
list_to_numeric = ['shoulder height (cm)', 'weight (kg)',
                'INTELLIGENCE (TRAINABILITY) ranking',
                '4 LIFETIME COST, $', '2 LONGEVITY',
                '3 NO. OF GENETIC AILMENTS']

for column in list_to_numeric:
    df_perros_razas[f'{column}'] = pd.to_numeric(df_perros_razas[f'{column}'])

df_perros_razas.dtypes

/var/folders/wr/llsqfgn14y9g_c3l32fq8qxw0000gn/T/ipykernel_21558/3540458304.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_perros_razas[f'{column}'] = pd.to_numeric(df_perros_razas[f'{column}'])

Dog breed                               object
shoulder height (cm)                     int64
weight (kg)                            float64
INTELLIGENCE (TRAINABILITY) ranking      int64
4 LIFETIME COST, $                       int64
2 LONGEVITY                            float64
3 NO. OF GENETIC AILMENTS                int64
dtype: object

In [40]:
df_perros_razas.to_csv('Datasets/PowerBI_RazasPerros.csv', index=False)