# Librerías

In [26]:
import numpy as np
import pandas as pd
import pickle
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import OrdinalEncoder

## Este Jupyter Notebook es para obtener dataframes necesarios para el último paso, y así, el último Jupyter es más limpio.

In [27]:
df = pd.read_csv('Datasets/data_for_ml.csv')


mapping= {0:0, 1:0, 2:1, 3:1, 4:2, 5:2}
df['int_cat_enc_fixed'] = df['intelligence_category_enc'].map(mapping)

df.sample()

,Dog breed,lifetime_cost,intellingence_ranking,longevity,weight_kg,shoulder_height_cm,obey_first_command_%_of_time,Renta media/pers (€),Áreas caninas (m²),n_genetic_diseases,tricks_yes,size_category_enc,intelligence_category_enc,house_type_enc,owners_physical_activity_enc,int_cat_enc_fixed
1747,Newfoundland,20113.281831,66.022184,9.14092,57.927115,67.726546,70,20103.0,1764.0,0,0.0,2.0,3.0,2.0,3.0,1

# Scaler necesario:

In [28]:
df_scaler = df[['size_category_enc', 'longevity','int_cat_enc_fixed']]
scaler = MinMaxScaler()

df_scaler[['size_enc', 'lon_enc', 'int_enc']] = scaler.fit_transform(df_scaler[['size_category_enc', 'longevity','int_cat_enc_fixed']])
df_scaler

/var/folders/wr/llsqfgn14y9g_c3l32fq8qxw0000gn/T/ipykernel_17984/1040639563.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_scaler[['size_enc', 'lon_enc', 'int_enc']] = scaler.fit_transform(df_scaler[['size_category_enc', 'longevity','int_cat_enc_fixed']])
/var/folders/wr/llsqfgn14y9g_c3l32fq8qxw0000gn/T/ipykernel_17984/1040639563.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_scaler[['size_enc', 'lon_enc', 'int_enc']] = scaler.fit_transform(df_scaler[['size_category_enc', 'longevity','int_cat_enc_fixed']])
/var/folders/wr/llsqfgn14y9g_c3l32fq8qxw0000gn/T/ipykernel_17984/1040639563.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_scaler[['size_enc', 'lon_enc', 'int_enc']] = scaler.fit_transform(df_scaler[['size_category_enc', 'longevity','int_cat_enc_fixed']])

,size_category_enc,longevity,int_cat_enc_fixed,size_enc,lon_enc,int_enc
0,1.0,12.647220,2,0.5,0.557345,1.0
1,1.0,13.538873,2,0.5,0.632368,1.0
2,1.0,12.461698,2,0.5,0.541735,1.0
3,0.0,13.045006,2,0.0,0.590815,1.0
4,0.0,13.201629,2,0.0,0.603993,1.0
...,...,...,...,...,...,...
2145,2.0,7.617800,0,1.0,0.134172,0.0
2146,2.0,8.080945,0,1.0,0.173140,0.0
2147,2.0,7.363878,0,1.0,0.112807,0.0
2148,2.0,7.839965,0,1.0,0.152864,0.0
2149,2.0,8.176060,0,1.0,0.181143,0.0

In [29]:
df_scaler['size_enc'].max(), df_scaler['size_enc'].min(), df_scaler['lon_enc'].max(), df_scaler['lon_enc'].min(), df_scaler['int_enc'].max(), df_scaler['int_enc'].min()

(1.0, 0.0, 1.0, 0.0, 1.0, 0.0)

In [30]:
pickle.dump(scaler, open('Models/scaler_final.pkl', 'wb'))

# Dataframe de razas de perros, hacer y pasar a .csv para fácil acceso

In [31]:
df_og = pd.read_csv('Datasets/perretes_final.csv')
razas = list(df_og['Dog breed'].unique())
len(razas)

43

In [32]:
df_bestinshow = pd.read_csv('Datasets/De-bajo-uso/best_in_show.csv')
df_filtered_bestinshow = df_bestinshow[df_bestinshow[['Dog breed']].isin(razas).all(axis=1)]
print(len(df_filtered_bestinshow))
df_filtered_bestinshow.sample()

43

,Dog breed,Unnamed: 1,category,Unnamed: 3,datadog score,POPULARITY IN US,POPULARITY IN US.1,"LIFETIME COST, $",5 LIFETIME COST,Unnamed: 9,...,Unnamed: 59,"Other regular costs, total per lifetime, $","total per year, $","total, per year, £","toys, presents, treats, per year, £","pet sitters, per year, £","grooming, per year, £","vet fees per year, £","kennels per year, £","one offs, $"
83,Bullmastiff,NaN,working,NaN,1.64,40,35,"$13,936",97%,NaN,...,NaN,"7,918","1,046",784.0,121,126.0,244.0,177.0,116.0,200

In [33]:
df_razas = df_filtered_bestinshow[['Dog breed', 'size category','2 LONGEVITY', 'intelligence category']]
df_razas.head(3)

                Dog breed size category 2 LONGEVITY intelligence category
3                Brittany        medium       12.92             Excellent
4           Cairn Terrier         small       13.84         Above average
6  English Cocker Spaniel        medium       11.66             Excellent

Ligero encoding...

In [34]:
cat_size = ['small', 'medium', 'large']
cat_int = ['Lowest', 'Fair', 'Average', 'Above average', 'Excellent', 'Brightest']

enc2 = OrdinalEncoder(categories=[cat_size, cat_int])

data_encoded = enc2.fit_transform(df_razas[['size category','intelligence category']])
df_razas[['size_category_enc','int_cat']] = data_encoded

mapping= {0:0, 1:0, 2:1, 3:1, 4:2, 5:2}
df_razas['int_cat_enc_fixed'] = df_razas['int_cat'].map(mapping)

df_razas = df_razas.rename(columns={'2 LONGEVITY' : 'longevity'})

orden_var = ['Dog breed', 'size_category_enc', 'longevity', 'int_cat_enc_fixed', 'size category','intelligence category', 'int_cat']
df_razas = df_razas[orden_var]

df_razas.sample()

/var/folders/wr/llsqfgn14y9g_c3l32fq8qxw0000gn/T/ipykernel_17984/1857957854.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_razas[['size_category_enc','int_cat']] = data_encoded
/var/folders/wr/llsqfgn14y9g_c3l32fq8qxw0000gn/T/ipykernel_17984/1857957854.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_razas[['size_category_enc','int_cat']] = data_encoded
/var/folders/wr/llsqfgn14y9g_c3l32fq8qxw0000gn/T/ipykernel_17984/1857957854.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_razas['int_cat_enc_fixed'] = df_razas['int_cat'].map(mapping)

,Dog breed,size_category_enc,longevity,int_cat_enc_fixed,size category,intelligence category,int_cat
77,Bull Terrier,1.0,10.21,0,medium,Fair,1.0

Voy a dejarlo ya con las variables escaladas:

In [35]:
df_razas[['size_cat_enc', 'lon_enc', 'int_cat_enc']] = scaler.transform(df_razas[['size_category_enc', 'longevity', 'int_cat_enc_fixed']])
df_razas.head(3)

,Dog breed,size_category_enc,longevity,int_cat_enc_fixed,size category,intelligence category,int_cat,size_cat_enc,lon_enc,int_cat_enc
3,Brittany,1.0,12.92,2,medium,Excellent,4.0,0.5,0.580297,1.0
4,Cairn Terrier,0.0,13.84,1,small,Above average,3.0,0.0,0.657705,0.5
6,English Cocker Spaniel,1.0,11.66,2,medium,Excellent,4.0,0.5,0.474281,1.0

In [36]:
df_razas.to_csv('datasets/razas-perretes.csv', index=False)