# Librerías

In [18]:
import numpy as np
import pandas as pd
import pickle
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OrdinalEncoder

## Este Jupyter Notebook es para obtener dataframes necesarios para el último paso, y así, el último Jupyter es más limpio.

In [5]:
df = pd.read_csv('Datasets/data_for_ml.csv')


mapping= {0:0, 1:0, 2:1, 3:1, 4:2, 5:2}
df['int_cat_enc_fixed'] = df['intelligence_category_enc'].map(mapping)

df.sample()

,Dog breed,lifetime_cost,intellingence_ranking,longevity,weight_kg,shoulder_height_cm,obey_first_command_%_of_time,Renta media/pers (€),Áreas caninas (m²),n_genetic_diseases,tricks_yes,size_category_enc,intelligence_category_enc,house_type_enc,owners_physical_activity_enc,int_cat_enc_fixed
430,Chihuahua,26534.141343,16.750069,16.149869,2.021467,12.808465,50,19199.0,326.0,1,1.0,1.0,2.0,1.0,2.0,1

# Scaler necesario:

In [8]:
df_scaler = df[['size_category_enc', 'longevity','int_cat_enc_fixed']]
scaler = StandardScaler()

df_scaler[['size_enc', 'lon_enc', 'int_enc']] = scaler.fit_transform(df_scaler[['size_category_enc', 'longevity','int_cat_enc_fixed']])
df_scaler

/var/folders/wr/llsqfgn14y9g_c3l32fq8qxw0000gn/T/ipykernel_12811/2272048464.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_scaler[['size_enc', 'lon_enc', 'int_enc']] = scaler.fit_transform(df_scaler[['size_category_enc', 'longevity','int_cat_enc_fixed']])
/var/folders/wr/llsqfgn14y9g_c3l32fq8qxw0000gn/T/ipykernel_12811/2272048464.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_scaler[['size_enc', 'lon_enc', 'int_enc']] = scaler.fit_transform(df_scaler[['size_category_enc', 'longevity','int_cat_enc_fixed']])
/var/folders/wr/llsqfgn14y9g_c3l32fq8qxw0000gn/T/ipykernel_12811/2272048464.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_scaler[['size_enc', 'lon_enc', 'int_enc']] = scaler.fit_transform(df_scaler[['size_category_enc', 'longevity','int_cat_enc_fixed']])

,size_category_enc,longevity,int_cat_enc_fixed,size_enc,lon_enc,int_enc
0,1.0,12.647220,2,0.033423,0.637919,1.463770
1,1.0,13.538873,2,0.033423,1.071345,1.463770
2,1.0,12.461698,2,0.033423,0.547738,1.463770
3,0.0,13.045006,2,-1.144605,0.831280,1.463770
4,0.0,13.201629,2,-1.144605,0.907414,1.463770
...,...,...,...,...,...,...
2145,2.0,7.617800,0,1.211452,-1.806844,-1.084493
2146,2.0,8.080945,0,1.211452,-1.581713,-1.084493
2147,2.0,7.363878,0,1.211452,-1.930274,-1.084493
2148,2.0,7.839965,0,1.211452,-1.698851,-1.084493
2149,2.0,8.176060,0,1.211452,-1.535478,-1.084493

In [11]:
df_scaler['size_enc'].max(), df_scaler['size_enc'].min(), df_scaler['lon_enc'].max(), df_scaler['lon_enc'].min(), df_scaler['int_enc'].max(), df_scaler['int_enc'].min()

(1.2114515634645096,
 -1.1446052989947355,
 3.1952310160780217,
 -2.5819814617048853,
 1.4637695647762283,
 -1.0844932402997967)

In [12]:
pickle.dump(scaler, open('Models/scaler_final.pkl', 'wb'))

# Dataframe de razas de perros, hacer y pasar a .csv para fácil acceso

In [14]:
df_og = pd.read_csv('Datasets/perretes_final.csv')
razas = list(df_og['Dog breed'].unique())
len(razas)

43

In [15]:
df_bestinshow = pd.read_csv('Datasets/De-bajo-uso/best_in_show.csv')
df_filtered_bestinshow = df_bestinshow[df_bestinshow[['Dog breed']].isin(razas).all(axis=1)]
print(len(df_filtered_bestinshow))
df_filtered_bestinshow.sample()

43

,Dog breed,Unnamed: 1,category,Unnamed: 3,datadog score,POPULARITY IN US,POPULARITY IN US.1,"LIFETIME COST, $",5 LIFETIME COST,Unnamed: 9,...,Unnamed: 59,"Other regular costs, total per lifetime, $","total per year, $","total, per year, £","toys, presents, treats, per year, £","pet sitters, per year, £","grooming, per year, £","vet fees per year, £","kennels per year, £","one offs, $"
41,Gordon Setter,NaN,sporting,NaN,2.73,94,69,"$19,605",56%,NaN,...,NaN,"11,610","1,046",784.0,121,126.0,244.0,177.0,116.0,200

In [16]:
df_razas = df_filtered_bestinshow[['Dog breed', 'size category','2 LONGEVITY', 'intelligence category']]
df_razas.head(3)

                Dog breed size category 2 LONGEVITY intelligence category
3                Brittany        medium       12.92             Excellent
4           Cairn Terrier         small       13.84         Above average
6  English Cocker Spaniel        medium       11.66             Excellent

Ligero encoding...

In [19]:
cat_size = ['small', 'medium', 'large']
cat_int = ['Lowest', 'Fair', 'Average', 'Above average', 'Excellent', 'Brightest']

enc2 = OrdinalEncoder(categories=[cat_size, cat_int])

data_encoded = enc2.fit_transform(df_razas[['size category','intelligence category']])
df_razas[['size_category_enc','int_cat']] = data_encoded

mapping= {0:0, 1:0, 2:1, 3:1, 4:2, 5:2}
df_razas['int_cat_enc_fixed'] = df_razas['int_cat'].map(mapping)

df_razas.drop(['size category','intelligence category', 'int_cat'], axis=1, inplace=True)

df_razas = df_razas.rename(columns={'2 LONGEVITY' : 'longevity'})

orden_var = ['Dog breed', 'size_category_enc', 'longevity', 'int_cat_enc_fixed']
df_razas = df_razas[orden_var]

df_razas.sample()

/var/folders/wr/llsqfgn14y9g_c3l32fq8qxw0000gn/T/ipykernel_12811/1717883936.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_razas[['size_category_enc','int_cat']] = data_encoded
/var/folders/wr/llsqfgn14y9g_c3l32fq8qxw0000gn/T/ipykernel_12811/1717883936.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_razas[['size_category_enc','int_cat']] = data_encoded
/var/folders/wr/llsqfgn14y9g_c3l32fq8qxw0000gn/T/ipykernel_12811/1717883936.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_razas['int_cat_enc_fixed'] = df_razas['int_cat'].map(mapping)
/var/folders/wr/llsqfgn14y9g_c3l32fq8qxw0000gn/T/ipykernel_12811/1717883936.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_razas.drop(['size category','intelligence category', 'int_cat'], axis=1, inplace=True)

           Dog breed  size_category_enc longevity  int_cat_enc_fixed
36  Golden Retriever                1.0     12.04                  2

Voy a dejarlo ya con las variables escaladas:

In [20]:
df_razas[['size_cat_enc', 'lon_enc', 'int_cat_enc']] = scaler.transform(df_razas[['size_category_enc', 'longevity', 'int_cat_enc_fixed']])
df_razas.head(3)

,Dog breed,size_category_enc,longevity,int_cat_enc_fixed,size_cat_enc,lon_enc,int_cat_enc
3,Brittany,1.0,12.92,2,0.033423,0.770516,1.463770
4,Cairn Terrier,0.0,13.84,1,-1.144605,1.217721,0.189638
6,English Cocker Spaniel,1.0,11.66,2,0.033423,0.158039,1.463770

In [21]:
df_razas.to_csv('datasets/razas-perretes.csv', index=False)