# Chequeo de que la relación Inteligencia vs Trucos en razas de perros está OK

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('Dataset_Completo.csv')
df=df.drop('Unnamed: 0', axis=1)
df

,Raza,Altura (cm),Peso (kg),Inteligencia (%),Coste total (€),Vida promedio (años),Nº Enfermedades graves,Coste anual promedio (€),Hogar,Trucos,Actividad física del dueño,Distrito
0,Chihuahua,13.0,2.5,17,19722,16.20,2,1198,Apartamento pequeño,No,Frecuente,Carabanchel
1,Chihuahua,13.5,2.2,15,19630,16.80,1,1192,Jardín Amplio,Sí,Nada,Salamanca
2,Chihuahua,13.2,2.1,16,19650,16.40,2,1195,Apartamento pequeño,No,Poco frecuente,Salamanca
3,Chihuahua,13.3,2.3,15,19700,16.70,1,1190,Apartamento mediano,No,Muy frecuente,Chamartín
4,Chihuahua,12.8,2.4,17,19730,16.10,2,1199,Jardín Amplio,Sí,Frecuente,Puente de Vallecas
...,...,...,...,...,...,...,...,...,...,...,...,...
205,Schnauzer Miniatura,33.6,7.8,86,14505,11.79,3,1221,Jardín Amplio,No,Nada,Centro
206,Schnauzer Miniatura,33.3,7.4,87,14482,11.81,2,1226,Finca,Sí,Muy frecuente,Hortaleza
207,Schnauzer Miniatura,32.8,7.9,86,14457,11.85,3,1230,Apartamento pequeño,No,Frecuente,Ciudad Lineal
208,Schnauzer Miniatura,33.9,6.5,88,14512,11.78,2,1220,Jardín Amplio,Sí,Poco frecuente,Fuencarral-El Pardo
209,Schnauzer Miniatura,33.7,7.6,86,14497,11.80,3,1223,Apartamento mediano,No,Nada,Usera

## Intentando volver la inteligencia otra vez al parámetro medio de la raza, para así evitar inteligencia 0% o superiores a 100%

In [3]:
Razas_valoresmedios = pd.read_csv('Top_20_perros.csv')

In [4]:
Razas_valoresmedios = Razas_valoresmedios.drop(['Altura, cm',
                                                'Peso, kg',
                                                'Coste total, €', 
                                                'Vida promedio, años',
                                                'Nº Enfermedades graves',
                                                'Coste anual promedio, €'], axis=1)

Razas_valoresmedios

                             Raza  Inteligencia, %
0                 Husky Siberiano               45
1                       Dachshund               37
2             Schnauzer Miniatura               87
3                       Chihuahua               16
4         Springer Spaniel Inglés               86
5                         Caniche               99
6      Braco Alemán de pelo corto               84
7              Labrador Retriever               93
8                   Bichón Maltés               25
9                       Pomerania               77
10               Golden Retriever               97
11                         Beagle                9
12                  Setter Inglés               56
13              Doberman Pinscher               95
14  Cavalier King Charles Spaniel               48
15                     Rottweiler               91
16                  Pastor Alemán               98
17                Bulldog Francés               28
18                     Gran Danés               39
19                        Bulldog                3

In [5]:
df1 = df
df_merged = pd.merge(df, Razas_valoresmedios, on='Raza', how='left')
df1['Inteligencia (%)'] = df_merged['Inteligencia, %'].combine_first(df1['Inteligencia (%)'])
df1

,Raza,Altura (cm),Peso (kg),Inteligencia (%),Coste total (€),Vida promedio (años),Nº Enfermedades graves,Coste anual promedio (€),Hogar,Trucos,Actividad física del dueño,Distrito
0,Chihuahua,13.0,2.5,16.0,19722,16.20,2,1198,Apartamento pequeño,No,Frecuente,Carabanchel
1,Chihuahua,13.5,2.2,16.0,19630,16.80,1,1192,Jardín Amplio,Sí,Nada,Salamanca
2,Chihuahua,13.2,2.1,16.0,19650,16.40,2,1195,Apartamento pequeño,No,Poco frecuente,Salamanca
3,Chihuahua,13.3,2.3,16.0,19700,16.70,1,1190,Apartamento mediano,No,Muy frecuente,Chamartín
4,Chihuahua,12.8,2.4,16.0,19730,16.10,2,1199,Jardín Amplio,Sí,Frecuente,Puente de Vallecas
...,...,...,...,...,...,...,...,...,...,...,...,...
205,Schnauzer Miniatura,33.6,7.8,87.0,14505,11.79,3,1221,Jardín Amplio,No,Nada,Centro
206,Schnauzer Miniatura,33.3,7.4,87.0,14482,11.81,2,1226,Finca,Sí,Muy frecuente,Hortaleza
207,Schnauzer Miniatura,32.8,7.9,87.0,14457,11.85,3,1230,Apartamento pequeño,No,Frecuente,Ciudad Lineal
208,Schnauzer Miniatura,33.9,6.5,87.0,14512,11.78,2,1220,Jardín Amplio,Sí,Poco frecuente,Fuencarral-El Pardo
209,Schnauzer Miniatura,33.7,7.6,87.0,14497,11.80,3,1223,Apartamento mediano,No,Nada,Usera

## Viendo a ver como está la relación Inteligencia vs Trucos

In [6]:
df1.dtypes

Raza                           object
Altura (cm)                   float64
Peso (kg)                     float64
Inteligencia (%)              float64
Coste total (€)                 int64
Vida promedio (años)          float64
Nº Enfermedades graves          int64
Coste anual promedio (€)        int64
Hogar                          object
Trucos                         object
Actividad física del dueño     object
Distrito                       object
dtype: object

In [7]:
df1['Trucos'].unique()

array(['No', 'Sí'], dtype=object)

In [8]:
condicion1 = df1['Inteligencia (%)'] > 80

df1[condicion1]['Trucos'].value_counts()/(len(df1[condicion1])*0.01)

Trucos
Sí    53.0
No    47.0
Name: count, dtype: float64

Esta proporción parece buena, la dejo así.

En el resto del dataframe debería ser predominantemente No, así que vamos a intentar cambiarlo.

In [9]:
condicion2 = df1['Inteligencia (%)'] < 15
condicion3 = (df1['Inteligencia (%)'] >= 15) & (df1['Inteligencia (%)'] <=40)
condicion4 = (df1['Inteligencia (%)'] > 40) & (df1['Inteligencia (%)'] <=80)

## Esto es por no cambiarlos todos y que sea como una ley física, imposible de evitar...
probabilidad_de_cambio2 = 0.9
probabilidad_de_cambio3 = 0.75
probabilidad_de_cambio4 = 0.5

n_aleatorio = np.random.rand(len(df1))

cond_cambio2 = n_aleatorio < probabilidad_de_cambio2
cond_cambio3 = n_aleatorio < probabilidad_de_cambio3
cond_cambio4 = n_aleatorio < probabilidad_de_cambio4

## Cambiar los valores de la columna destino Trucos basandonos en las condiciones y probabilidades anteriores
df1.loc[condicion2 & cond_cambio2, 'Trucos'] = 'No'
df1.loc[condicion3 & cond_cambio3, 'Trucos'] = 'No'
df1.loc[condicion4 & cond_cambio4, 'Trucos'] = 'No'

Chequeando que los valores están cambiados y viendo las proporciones.

Para los perritos listos:

In [10]:
df1[condicion1]['Trucos'].value_counts()/(len(df1[condicion1])*0.01)

Trucos
Sí    53.0
No    47.0
Name: count, dtype: float64

Para los perritos tontos de remate:

In [11]:
df1[condicion2]['Trucos'].value_counts()/(len(df1[condicion2])*0.01)

Trucos
No    90.0
Sí    10.0
Name: count, dtype: float64

Para los perritos de entre medias pero tontitos:

In [12]:
df1[condicion3]['Trucos'].value_counts()/(len(df1[condicion3])*0.01)

Trucos
No    84.0
Sí    16.0
Name: count, dtype: float64

In [13]:
df1[condicion4]['Trucos'].value_counts()/(len(df1[condicion4])*0.01)

Trucos
No    75.0
Sí    25.0
Name: count, dtype: float64

Yo creo que está perfecto así. Se puede volver a pasar lo anterior, y el cambio sería más drástico, pero no le veo necesidad.

Se podría hacer en un momentito que hubiera más rangos, y así hacerlo más entalladito todo, pero no sé si es pasarse.

In [14]:
df1

,Raza,Altura (cm),Peso (kg),Inteligencia (%),Coste total (€),Vida promedio (años),Nº Enfermedades graves,Coste anual promedio (€),Hogar,Trucos,Actividad física del dueño,Distrito
0,Chihuahua,13.0,2.5,16.0,19722,16.20,2,1198,Apartamento pequeño,No,Frecuente,Carabanchel
1,Chihuahua,13.5,2.2,16.0,19630,16.80,1,1192,Jardín Amplio,No,Nada,Salamanca
2,Chihuahua,13.2,2.1,16.0,19650,16.40,2,1195,Apartamento pequeño,No,Poco frecuente,Salamanca
3,Chihuahua,13.3,2.3,16.0,19700,16.70,1,1190,Apartamento mediano,No,Muy frecuente,Chamartín
4,Chihuahua,12.8,2.4,16.0,19730,16.10,2,1199,Jardín Amplio,Sí,Frecuente,Puente de Vallecas
...,...,...,...,...,...,...,...,...,...,...,...,...
205,Schnauzer Miniatura,33.6,7.8,87.0,14505,11.79,3,1221,Jardín Amplio,No,Nada,Centro
206,Schnauzer Miniatura,33.3,7.4,87.0,14482,11.81,2,1226,Finca,Sí,Muy frecuente,Hortaleza
207,Schnauzer Miniatura,32.8,7.9,87.0,14457,11.85,3,1230,Apartamento pequeño,No,Frecuente,Ciudad Lineal
208,Schnauzer Miniatura,33.9,6.5,87.0,14512,11.78,2,1220,Jardín Amplio,Sí,Poco frecuente,Fuencarral-El Pardo
209,Schnauzer Miniatura,33.7,7.6,87.0,14497,11.80,3,1223,Apartamento mediano,No,Nada,Usera

In [15]:
df1.to_csv('Dataset_Completo.csv', index=False)