In [3]:
import pandas as pd
import numpy as np
dropdown_options_distrito = ['Fuencarral-El Pardo','Moncloa-Aravaca','Latina','Carabanchel','Usera','Villaverde','Puente de Vallecas','Villa de Vallecas','Moratalaz','Vicálvaro','Ciudad Lineal','San Blas-Canillejas','Hortaleza','Barajas','Tetuán','Chamartín','Chamberí','Centro','Retiro','Arganzuela','Salamanca']
dropdown_options_tricks = ['Sí', 'No']
dropdown_options_casa = ['Apartamento pequeño', 'Apartamento mediano', 'Casa pequeña', 'Casa con jardín']
dropdown_options_actfis = ['No', 'Rara vez', 'Un par de días a la semana', 'Siempre que puedo']

df_distritos = pd.DataFrame()
for x in dropdown_options_distrito:
    df_distritos[x] = [x]

df_tricks = pd.DataFrame()
for x in dropdown_options_tricks:
    df_tricks[x] = [x]
    
df_casa = pd.DataFrame()
for x in dropdown_options_casa:
    df_casa[x] = [x]
    
df_actfis = pd.DataFrame()
for x in dropdown_options_actfis:
    df_actfis[x] = [x]

In [6]:
df_actfis

   No  Rara vez  Un par de días a la semana  Siempre que puedo
0  No  Rara vez  Un par de días a la semana  Siempre que puedo

In [7]:
df_casa

   Apartamento pequeño  Apartamento mediano  Casa pequeña  Casa con jardín
0  Apartamento pequeño  Apartamento mediano  Casa pequeña  Casa con jardín

In [4]:
df_tricks

   Sí  No
0  Sí  No

In [5]:
df_distritos

,Fuencarral-El Pardo,Moncloa-Aravaca,Latina,Carabanchel,Usera,Villaverde,Puente de Vallecas,Villa de Vallecas,Moratalaz,Vicálvaro,...,San Blas-Canillejas,Hortaleza,Barajas,Tetuán,Chamartín,Chamberí,Centro,Retiro,Arganzuela,Salamanca
0,Fuencarral-El Pardo,Moncloa-Aravaca,Latina,Carabanchel,Usera,Villaverde,Puente de Vallecas,Villa de Vallecas,Moratalaz,Vicálvaro,...,San Blas-Canillejas,Hortaleza,Barajas,Tetuán,Chamartín,Chamberí,Centro,Retiro,Arganzuela,Salamanca

In [8]:
df_distritos.to_csv('../Datasets/Inputs/input_distritos.csv', index=False)
df_tricks.to_csv('../Datasets/Inputs/input_tricks.csv', index=False)
df_casa.to_csv('../Datasets/Inputs/input_casa.csv', index=False)
df_actfis.to_csv('../Datasets/Inputs/input_actfis.csv', index=False)