In [17]:
import pandas as pd
import numpy as np
dropdown_options_distrito = ['Fuencarral-El Pardo','Moncloa-Aravaca','Latina','Carabanchel','Usera','Villaverde','Puente de Vallecas','Villa de Vallecas','Moratalaz','Vicálvaro','Ciudad Lineal','San Blas-Canillejas','Hortaleza','Barajas','Tetuán','Chamartín','Chamberí','Centro','Retiro','Arganzuela','Salamanca']
dropdown_options_tricks = ['Sí', 'No']
dropdown_options_casa = ['Apartamento pequeño', 'Apartamento mediano', 'Casa pequeña', 'Casa con jardín']
dropdown_options_actfis = ['No', 'Rara vez', 'Un par de días a la semana', 'Siempre que puedo']

df_distritos = pd.DataFrame({'Distritos': dropdown_options_distrito})
df_tricks = pd.DataFrame({'Trucos': dropdown_options_tricks})
df_casa = pd.DataFrame({'Tipo de casa': dropdown_options_casa})
df_actfis = pd.DataFrame({'Actividad Física':dropdown_options_actfis})

lst = [df_distritos, df_tricks, df_casa, df_actfis]

for df in lst:
    df.at[0, 'harticoestoy'] = 0

In [18]:
df_tricks

  Trucos  harticoestoy
0     Sí           0.0
1     No           NaN

In [19]:
df_distritos = df_distritos.set_index('Distritos').transpose()
df_tricks=df_tricks.set_index('Trucos').transpose()
df_casa=df_casa.set_index('Tipo de casa').transpose()
df_actfis=df_actfis.set_index('Actividad Física').transpose()

In [20]:
df_distritos

Distritos,Fuencarral-El Pardo,Moncloa-Aravaca,Latina,Carabanchel,Usera,Villaverde,Puente de Vallecas,Villa de Vallecas,Moratalaz,Vicálvaro,...,San Blas-Canillejas,Hortaleza,Barajas,Tetuán,Chamartín,Chamberí,Centro,Retiro,Arganzuela,Salamanca
harticoestoy,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
df_distritos.to_csv('../Datasets/Inputs/input_distritos.csv', index=False)
df_tricks.to_csv('../Datasets/Inputs/input_tricks.csv', index=False)
df_casa.to_csv('../Datasets/Inputs/input_casa.csv', index=False)
df_actfis.to_csv('../Datasets/Inputs/input_actfis.csv', index=False)